*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url('./image/background.jpg');
}


.container{
    margin: auto;
    margin-top: 50px;
    width: 1100px;
    background-color: white;
    box-shadow: 5px 5px 5px 1px darkgrey;
}

.row{
    border: 1px solid rgb(212, 212, 212);
}

.padding10 {
    padding: 0px 10px;
}

.width60{
    width: 60%;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bold{
    font-weight: bolder;
}

.width40{
    width: 40%;
}

.width100{
    width: 100%;
}

.height50{
    height: 50px;
}

.back_grey {
    background-color: lightgrey;
}

hr{
    margin-bottom: 20px;
}

.font10px{
    font-size: 10px;
}

.colorGry{
    color: gray;
}

.alignBtm{
    align-items: flex-end;
}

.imgCard{
    width: 125px;
    height: 125px;
}

.imgHvr{
    width: 170px;
    height: 170px;
    box-sizing: border-box;
}

.imgHvr:hover{
    width: 170px;
    height: 170px;
    border: 1px solid lightgray;
    box-sizing: border-box;
    background-color: lightgrey;
}

.flxDirCol{
    flex-direction: column;
}

.justifyCtr{
    justify-content: center;
}

button{
    width: 37%;
    height: 50px;
    background-color: green;
    margin-bottom: 50px;
}

.mB20{
    margin-bottom: 20px;
}

.height50{
    height: 50px;
}

.cartImg{
    height: 30px;
    width: 30px;
}

h5{
    font-size: 15px;
}

p{
    font-size: 10px;
}